body {
	background: black;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	height: 100vh;
	line-height: 2;
}

h1 {
	font-size: 32px;
	text-align: center;
	margin: 2.5vw;
}

#mArea h2 {
	font-size: 3vw;
	margin: 5vw 0;
}

@media screen and (max-width: 768px) {
	#mArea h2 {
		font-size: 24px;
	}
}

#mArea span {
	border-bottom: 2px solid white;
}

.inline {
	display: inline-block;
}

#mArea {
	margin: 15vh 0;
}

#guRem {
	display: inline-block;
	float: left;
	bottom: 0;
}

#guLet {
	display: inline-block;
	float: right;
	bottom: 0;
}

#answerImg img{
	max-height: 100px; 
}