body {
	background: black;
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

h1 {
	font-size: 32px;
	text-align: center;
	margin: 2.5vw;
}

#mArea h2 {
	font-size: 3vw;
	margin: 5vw 0;
}

#mArea span {
	border-bottom: 2px solid white;
}

.inline {
	display: inline-block;
}

#guRem {
	float: left;
	bottom: 0;
}

#guLet {
	float: right;
	bottom: 0;
}